body{
	background-color: grey
}


.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 1.5s;
}


.cool.red{
	background-color: red;
}


.cool.blue{
	visibility: visible;
	background-color: blue;
}